<launch>
	<arg name="model" default="$(find robot_gui)/urdf/dualarm.urdf" />
	
	<param name="robot_description" textfile="$(arg model)" />

    	<node name="gui" pkg="robot_gui" type="gui" output="screen"/>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	
	<node name="rviz" pkg="rviz" type = "rviz" args="-d $(find robot_gui)/rviz/test.rviz" />
</launch>
