<launch>
	<arg name="model" default="$(find robot_gui)/urdf/testbot.urdf" />
	<arg name="gui" default="true" />
	
	<param name="robot_description" textfile="$(arg model)" />
	<param name="use_gui" value="$(arg gui)" />
	
	<node name="joint_pub" pkg="robot_gui" type="joint_pub"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	
	<node name="rviz" pkg="rviz" type = "rviz" args="-d $(find robot_gui)/rviz/test.rviz" />
		
</launch>
